doctype

html(lang='en')
  head
    
    - var title = "Coursecode"
    - var keywords = "Keywords var keywords"
    - var description = "Description var description"
    title= title

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    link(rel='icon', type='static/ico', href='img/favicon.ico?v=13')

    meta(property='og:url', content='https:')
    meta(property='og:image', content='img/ogg.png?v=1.3')
    meta(property='og:image:width', content='300')
    meta(property='og:image:height', content='300')

    meta(property='og:title', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(property='og:type', conten= '' + keywords + ''  )
    meta(name='description', conten= '' + description + '' )
    meta(name='keywords'  conten= '' + keywords + '' )

  body.info(data-img='img/1.png')
    
    .right__menu
      ul.menu__
        li
          a.logo(href='/')
            img.w(src='img/logo_b.svg', alt='logo')

        li
          a(href='javascript:;') Skyddshjälmar
        li
          a(href='javascript:;') Säkerhetsglasögon
        li
          a(href='javascript:;') Hörselskydd
        li
          a(href='javascript:;') Tillbehör
      
    
    header
      .container
        .row
          .col.m12.s12.l12.xl12
            a.mobile(href='javascript:;')
              
            .box__logo
             a.logo(href='javascript:;')
            //  img.w(src='img/logo.svg', alt='logo')
              img.b(src='img/logo_b.svg', alt='logo')
              
            ul.menu__
              li
                a(href='javascript:;') Skyddshjälmar
              li
                a(href='javascript:;') Säkerhetsglasögon
              li
                a(href='javascript:;') Hörselskydd
              li
                a(href='javascript:;') Tillbehör

              
            ul.login__
              li
                a(href='javascript:;') Nyheter
              li
                a(href='javascript:;') Om Guardio
              li
                a(href='javascript:;') Support

                
            ul.navigat
              li
                a.search(href='javascript:;')
              li
                a.car(href='javascript:;')
                  span 1

          
    section.section__.home__1
      .container
        .row
          .col.m12.s12.l12.xl12
            h1 Vetenskapsbaserad 
              span säkerhet
            p.slag Nu äntligen i Finland! Svenska Guardio Safety lanserade 2019 sina produkter på den svenska marknaden med ambitionen att bidra till en säkrare och bekvämare arbetsmiljö där vi höjer våra användares personliga säkerhet till högsta möjliga nivå. Vi kan stolt meddela att våra produkter inom personlig skyddsutrustning som är speciellt framtagna för bygg- och industribranschen nu finns tillgängliga på den finska marknaden. Genom vetenskap och prisbelönta innovationer levererar vi produkter som gör skillnad för er säkerhet och arbetsmiljö! 
            .scroll__ 
              a(href='#section__2') Se produkterna

 
          
    section#section__2.section__.home__2
      .container
        .row
          .col.m12.s12.l12.xl12
            p.slag DEN SMARTA OCH SÄKRA SKYDDSHJÄLMEN
            h2.title Guardio Armet
            p.disc Världens första industrihjälm med MIPS framtagen i samarbete med neurologer på Karolinska institutet och ingenjörer på Kungliga Tekniska Högskolan i Stockholm. Enligt många, marknadens bekvämaste skyddshjälm utvecklad med stort fokus på en optimal ergonomi och balans.Guardio ARMET är dessutom den första smarta hjälmen i världen som erbjuder ett integrerat chip från twICEme® där användaren kan lagra sin vitala information .
        .row
          .col.m12.s12.l12.xl12
            .box__img
              img.images(src='img/orange_helmet_1.png', alt='images_1')
 
          
    section.section__.home__3
      .container
        .row
          .col.m12.s12.l12.xl12
            p.slag Funktioner
            h2.title Utforska Guardio Armet ™
            p.disc Klicka på punkterna för att läsa mer om alla funktioner.
        .row
          .col.m12.s12.l12.xl12
            .box__img
              img.images(src='img/Rectangle-45.svg', alt='images_1')

              ul
                // repiater
                li
                  a.dots
                  span
                    // if under__the
                    h3 wICEm e
                    // if under__the
                    p Integrerat NFC kretskort f&ouml;r lagring av vital s&auml;kerhetsinformation.
                li
                  a.dots
                  span
                    // if under__the
                    h3 Ventilation
                    // if under__the
                    p Bidrar med svalkande och uppfriskade luftfl&ouml;de runt huvudet. 
                li
                  a.dots
                  span
                    // if under__the
                    h3 Pannlampsf&auml;sten
                    // if under__the
                    p Starka pannlampsf&auml;sten kompatibla med lampor med elastiska band.
                li
                  a.dots
                  span
                    // if under__the
                    h3 F&auml;sten f&ouml;r h&ouml;rselskydd
                    // if under__the
                    p
                      | Integrerade f&auml;sten f&ouml;r h&ouml;rselskydd. Samcertifierade med h&ouml;rselskydd bland annat fr&aring;n 3M Peltor och Hellberg Safety
                li
                  a.dots
                  span
                    // if under__the
                    h3 Montering f&ouml;r visir
                    // if under__the
                    p F&ouml;rberedda f&ouml;r montering av Guardios EN166 certifierade visir.
                li
                  a.dots
                  span
                    // if under__the
                    h3 Storleksjustering
                    // if under__the
                    p Justeringsratt f&ouml;r att kunna justera storleken mellan 53 och 63cm
                li
                  a.dots
                  span
                    // if under__the
                    h3 EN397 Hakrem
                    // if under__the
                    p Extra l&aring;ng hakrem som s&auml;kerst&auml;ller att hj&auml;lmen sitter p&aring; plats.

                    
    section.section__.home__7
      .container
        .row
          .col.m12.s12.l12.xl12
            h2.title TILLBEHÖR

        .row
          .col.m6.s12.l3.xl3
            .box__cont
              p.slag SKYDDSVISIR
              h3 THEIA Clear
              p Klart skyddsvisir som skyddar mot stötar i upp till 120m/s. Skydd mot repor och imma.
              img.images(src='img/img1.png', alt='img_1')
          .col.m6.s12.l3.xl3
            .box__cont
              p.slag SKYDDSVISIR
              h3 THEIA Smoke 
              p Rökfärgat skyddsvisir för soliga dagar som skyddar mot stötar i upp till 120m/s. Skydd mot repor och imma.
              img.images(src='img/img2.png', alt='img_1')
          .col.m6.s12.l3.xl3
            .box__cont
              p.slag Guardio ARMET
              h3 Hygiensats
              p Ersättningssats för Guardio ARMET.Fästs enkelt med kardborre. 
              img.images(src='img/img3.png', alt='img_1')
          .col.m6.s12.l3.xl3
            .box__cont
              p.slag Guardio ARMET
              h3 Pannlampsfäste
              p Lampfäste speciellt framtaget för pannlampor som återfinns i gruvarbete och anläggningsprojekt.
              img.images(src='img/img4.png', alt='img_1')
              
 
              
              
              
              
    
    section.section__.home__4
      .container
        .row
          .col.m6.s12.l4.xl4
            .box__cont
              img.images(src='img/MIPS_logo_RGB _1.svg', alt='img_1')
              h3 Safety for helmets
              p Mips® säkerhetssystem är ett lågfriktionslager inuti hjälmen som vid vissa sneda islag kan bidra till att reducera den skadliga rotationsrörelse som huvudet utsätts för.
          .col.m6.s12.l4.xl4
            .box__cont
              img.images(src='img/MIPS_logo_RGB _1.svg', alt='img_1')
              h3 When seconds matter
              p Ett smart kretskort integrerat inuti hjälmen som möjliggör lagring av vital medicinsk data och gör den enkelt tillgänglig via en smartphone. Rätt information tillgängligt vid rätt tillfälle!
          .col.m6.s12.l4.xl4
            .box__cont
              img.images(src='img/MIPS_logo_RGB _1.svg', alt='img_1')
              h3 Comfort for all day use
              p Genomtänkta och optimerad komposition av material för en skön passform, stryktålighet och ett inre stötabsorberande material i EPS och EPP för en låg densitet och en hög elasticitet och ”recovery rate”
              
                    
    section.section__.home__8
      .container
        .row
          .col.m12.s12.l12.xl12
            .slider__
              div
                .box__content
                  ul.box__
                    li
                      img.images(src='img/user__.png', alt='user__')
                    li
                      p “Jag brinner för arbetsmiljöfrågor. Därför jag har köpt in Guardio Armet till mig själv och hela hela mitt team. Enligt mig, är det en säkrare hjälm
                      span Emmalena Andersson, Årets Byggkvinna 2021 <br>(Svenska Byggbranschen) 
              div
                .box__content
                  ul.box__
                    li
                      img.images(src='img/user__.png', alt='user__')
                    li
                      p “Jag brinner för arbetsmiljöfrågor. Därför jag har köpt in Guardio Armet till mig själv och hela hela mitt team. Enligt mig, är det en säkrare hjälm
                      span Emmalena Andersson, Årets Byggkvinna 2021 <br>(Svenska Byggbranschen) 
              div
                .box__content
                  ul.box__
                    li
                      img.images(src='img/user__.png', alt='user__')
                    li
                      p “Jag brinner för arbetsmiljöfrågor. Därför jag har köpt in Guardio Armet till mig själv och hela hela mitt team. Enligt mig, är det en säkrare hjälm
                      span Emmalena Andersson, Årets Byggkvinna 2021 <br>(Svenska Byggbranschen) 
              div
                .box__content
                  ul.box__
                    li
                      img.images(src='img/user__.png', alt='user__')
                    li
                      p “Jag brinner för arbetsmiljöfrågor. Därför jag har köpt in Guardio Armet till mig själv och hela hela mitt team. Enligt mig, är det en säkrare hjälm
                      span Emmalena Andersson, Årets Byggkvinna 2021 <br>(Svenska Byggbranschen) 
          
    section.section__.home__5
      .container
        .row
          .col.m12.s12.l12.xl12
            p.slag SÄKERHETSGLASÖGON MED FOKUS PÅ FLERA SINNEN
            h2.title Guardio Argos
            p.disc Snygga, bekväma skyddsglasögon tillverkade i material av hög kvalitet och utmärkt passform som ger ett optimalt skydd i utmanande arbetsmiljöer. Utvecklade med supertunna, flexibla skalmar för att säkerställa ett minimalt läckage av buller i samband med användning av hörselskydd. Finns i 4 olika linser som alla erbjuder ett panoramaskydd från alla vinklar och ett mycket reptåligt glas som är optiskt korrekt med 99,99% UV skydd. 
        .row
          .col.m12.s12.l12.xl12
            .box__img
              img.images(src='img/imgs.svg', alt='images_1')
              
          .col.m12.s12.l12.xl12(hidden)
            a.border-orang Läs mer
            
        .row
          .col.m6.s12.l3.xl3
            .box__smoll
              p.slag säkerhetsglasögon
              h2.title Clear
              p.disc Klara linser för obehindrad sikt och optimal färgigenkänning samtidigt som du skyddar din syn. 99,99% UV skydd och optiskt korrekta. 
              img.images(src='img/photocromic.svg', alt='img_1')
          .col.m6.s12.l3.xl3
            .box__smoll
              p.slag säkerhetsglasögon
              h2.title Smoke
              p.disc Tonade linser med ett premiumskydd mot repor och imma samtidigt som de skyddar mot solens bländande strålar.
              img.images(src='img/photocromic.svg', alt='img_1')
          .col.m6.s12.l3.xl3
            .box__smoll
              p.slag säkerhetsglasögon
              h2.title Polarized
              p.disc Optimerade för användning i miljöer där ljus kan reflekteras och blända, exempelvis nära snö och vatten.
              img.images(src='img/photocromic.svg', alt='img_1')
          .col.m6.s12.l3.xl3
            .box__smoll
              p.slag säkerhetsglasögon
              h2.title Photochromatic
              p.disc Smarta linser som automatiskt skiftar färg mellan klart och tonat utifrån rådande ljusförhållanden. 
              img.images(src='img/photocromic.svg', alt='img_1')


    section.section__.home__6
      .container
        .row
          .col.m12.s12.l12.xl12
            h2.title Vill du bli först i Finland med nästa generations skyddshjälmar? 
            p.disc Fyll i formuläret nedan så blir du snart kontaktad av oss eller våra duktiga återförsäljare
          .col.m12.s12.l12.xl12
            form(method='POST', action='javascript:void(null);')
              // Hidden Required Fields
              .form_input
                span.field
                  input(type='text', name='name', required='', value='', placeholder='Namn')

              .form_input
                span.field
                  input.phone(type='email', name='email', required='', value='', placeholder='Mailadress')
                  
              .form_input
                span.field
                  input.phone(type='text', name='bolag', required='', value='', placeholder='Bolag')


              button.style(type='submit', name='send') Send

    footer
      .container
        .row
          .col.m12.s12.l8.offset-xl2.xl8.offset-xl2
            h4 Läs mer om Guardio och våra produkter på vår engelska hemsida.
      .container
        .row
          .col.m12.s12.l3.xl3
            .box__logo
             a.logo(href='javascript:;')
              img(src='img/logo_big.svg', alt='logo')
            p.company Personal Safety Innovation.
            
            ul.soseal
              li
                a(href='javascript:;')
                  img(src='img/inst.svg', alt='inst')
              li
                a(href='javascript:;')
                  img(src='img/link.svg', alt='link')
              li
                a(href='javascript:;')
                  img(src='img/yotu.svg', alt='yotu')
              li
                a(href='javascript:;')
                  img(src='img/fack.svg', alt='fack')
 
            ul.brand
              li
                a(href='javascript:;')
                  img(src='img/Group__132.svg', alt='Group__132')
              li
                a(href='javascript:;')
                  img(src='img/hallnollan_logo.png', alt='hallnollan_logo')

            
              
          .col.m6.s6.l2.xl2
            h3 Meny
            ul
              li
                a(href='javascript:;') Om Guardio
              li
                a(href='javascript:;') Nyheter
              li
                a(href='javascript:;') Kontakt
              li
                a(href='javascript:;') Blogg
                
          .col.m6.s6.l2.xl2
          
            h3 Produkter
            ul
              li
                a(href='javascript:;') Hörselskydd
              li
                a(href='javascript:;') Skyddshjälm
              li
                a(href='javascript:;') Skyddsglasögon
              li
                a(href='javascript:;') Accesoarer
                
          .col.m6.s12.l2.xl2
          
            h3 Support
            ul
              li
                a(href='javascript:;') Support
              li
                a(href='javascript:;') Bluetooth
              li
                a(href='javascript:;') MIPS
              li
                a(href='javascript:;') Accesoarer
              li
                a(href='javascript:;') Aktiv Brus Reducering
              li
                a(href='javascript:;') Batterier
              li
                a(href='javascript:;') TwiceMe
              li
                a(href='javascript:;') Mobilapp

                
          .col.m6.s12.l3.xl3
          
            h3 Nyhetsbrev
            p Anmäl dig till vårt nyhetsbrev och håll dig uppdaterad om de senaste nyheterna och produktuppdateringarna!

            form(method='POST', action='javascript:void(null);')
              // Hidden Required Fields

              .form_input
                span.field.email
                  input(type='email', name='email', required='', value='', placeholder='Epost adress...')

              button.green.style(type='submit', name='send') Send




    script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js')
    script.
      console.log('index.pug');

    




