doctype

html(lang='en')
  head
    
    - var title = "Coursecode"
    - var keywords = "Keywords var keywords"
    - var description = "Description var description"
    title= title

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    link(rel='icon', type='static/ico', href='img/favicon.ico?v=13')

    meta(property='og:url', content='https:')
    meta(property='og:image', content='img/ogg.png?v=1.3')
    meta(property='og:image:width', content='300')
    meta(property='og:image:height', content='300')

    meta(property='og:title', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(property='og:type', conten= '' + keywords + ''  )
    meta(name='description', conten= '' + description + '' )
    meta(name='keywords'  conten= '' + keywords + '' )

  body.info(data-img='img/1.png')
    
    .right__menu
      ul.menu__
        li
          a.logo(href='/')
            img.w(src='img/logo_b.svg', alt='logo')

        li
          a(href='javascript:;') Skyddshjälmar
        li
          a(href='javascript:;') Säkerhetsglasögon
        li
          a(href='javascript:;') Hörselskydd
        li
          a(href='javascript:;') Tillbehör
      
    
    header
      .container
        .row
          .col.m12.s12.l12.xl12
            a.mobile(href='javascript:;')
              
            .box__logo
             a.logo(href='javascript:;')
            //  img.w(src='img/logo.svg', alt='logo')
              img.b(src='img/logo_b.svg', alt='logo')
              
            ul.menu__
              li
                a(href='javascript:;') Skyddshjälmar
              li
                a(href='javascript:;') Säkerhetsglasögon
              li
                a(href='javascript:;') Hörselskydd
              li
                a(href='javascript:;') Tillbehör

              
            ul.login__
              li
                a(href='javascript:;') Nyheter
              li
                a(href='javascript:;') Om Guardio
              li
                a(href='javascript:;') Support

                
            ul.navigat
              li
                a.search(href='javascript:;')
              li
                a.car(href='javascript:;')
                  span 1

          
    section.om-guardio__1
      .container
        .row
          .col.m12.s12.l6.xl6
            h1.title Om Guardio Safety
            p.slag Vi utvecklar personlig skyddsutrustning speciellt framtagen för bygg- och industribranschen. Genom vetenskap och innovation levererar vi produkter som gör skillnad! För att säkerställa att vi erbjuder våra kunder de senaste lösningarna och innovationerna använder vi oss av komponenter och lösningar från de ledande aktörerna inom respektive område.
            .scroll__ 
              a(href='#section__2')  LÄS mer
               // .col.m12.s12.l12.xl12


 
          
    section#section__2.section__.om-guardio__2
      .container
        .row
          .col.m12.s12.l12.xl12
            h2.title Vår vison
        .row
          .col.m12.s12.l12.xl12
            #om__guardio
              div
                .block__
                  img(src='img/om-guardio__2_icon_1.svg', alt='guardio__2_icon_1')
                  p Guardio ska bidra till ett säkrare, hälsosammare och smartare arbete åt våra användare.
              div
                .block__
                  img(src='img/om-guardio__2_icon_2.svg', alt='guardio__2_icon_2')
                  p Våra lösningar ska bidra till att användare ska kunna prestera på topp av sin professionella förmåga.
              div
                .block__
                  img(src='img/om-guardio__2_icon_3.svg', alt='guardio__2_icon_3')
                  p Våra produkter ska göra en bevisbar positiv skillnad för våra användares personliga säkerhet och arbete.
      

    section.section__.om-guardio__3
      .container
        .row
          .col.m12.s12.l12.xl12
            h2.title Vår ledningsgrupp
          .col.m12.s12.l12.xl12
            ul.list
              li
                h3.name Nawar Toma
                p.sub VD & Grundare
                
                a.mail(href='javascript:;') toma@gaurdio.se
                a.tel(href='javascript:;') +46 737 456 023
                
                a.linked(href='javascript:;')
                  svg(width='40', height='41', viewbox='0 0 40 41', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd', clip-rule='evenodd', d='M4.94654e-07 3.4252C4.94654e-07 2.53889 0.352084 1.68889 0.978796 1.06217C1.60551 0.435462 2.45551 0.0833785 3.34182 0.0833785H36.6545C37.0938 0.0826611 37.5288 0.168584 37.9348 0.336227C38.3408 0.50387 38.7097 0.749942 39.0204 1.06035C39.3312 1.37077 39.5777 1.73942 39.7458 2.14521C39.9138 2.55101 40.0002 2.98597 40 3.4252V36.7379C40.0005 37.1772 39.9143 37.6123 39.7465 38.0183C39.5786 38.4243 39.3324 38.7932 39.0218 39.1039C38.7113 39.4147 38.3425 39.6611 37.9366 39.8292C37.5307 39.9972 37.0957 40.0836 36.6564 40.0834H3.34182C2.90281 40.0834 2.46811 39.9969 2.06254 39.8288C1.65697 39.6608 1.28849 39.4144 0.978153 39.1039C0.667813 38.7934 0.421694 38.4248 0.253859 38.0192C0.0860241 37.6135 -0.000238356 37.1787 4.94654e-07 36.7397V3.4252ZM15.8327 15.3343H21.2491V18.0543C22.0309 16.4907 24.0309 15.0834 27.0364 15.0834C32.7982 15.0834 34.1636 18.1979 34.1636 23.9125V34.4979H28.3327V25.2143C28.3327 21.9597 27.5509 20.1234 25.5655 20.1234C22.8109 20.1234 21.6655 22.1034 21.6655 25.2143V34.4979H15.8327V15.3343ZM5.83273 34.2488H11.6655V15.0834H5.83273V34.247V34.2488ZM12.5 8.83247C12.511 9.33187 12.4221 9.82844 12.2386 10.293C12.0551 10.7576 11.7806 11.1809 11.4313 11.538C11.082 11.8951 10.6649 12.1788 10.2045 12.3725C9.74402 12.5662 9.24953 12.666 8.75 12.666C8.25047 12.666 7.75598 12.5662 7.29554 12.3725C6.83509 12.1788 6.41798 11.8951 6.06867 11.538C5.71936 11.1809 5.4449 10.7576 5.26138 10.293C5.07787 9.82844 4.989 9.33187 5 8.83247C5.02159 7.8522 5.42615 6.91936 6.12706 6.23372C6.82797 5.54807 7.7695 5.16414 8.75 5.16414C9.7305 5.16414 10.672 5.54807 11.3729 6.23372C12.0738 6.91936 12.4784 7.8522 12.5 8.83247Z', fill='black')
              li
                h3.name Tony Andersson
                p.sub Försäljningschef
                
                a.mail(href='javascript:;') tony@gaurdio.se
                a.tel(href='javascript:;') +46 760 342 341
                
                a.linked(href='javascript:;')
                  svg(width='40', height='41', viewbox='0 0 40 41', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd', clip-rule='evenodd', d='M4.94654e-07 3.4252C4.94654e-07 2.53889 0.352084 1.68889 0.978796 1.06217C1.60551 0.435462 2.45551 0.0833785 3.34182 0.0833785H36.6545C37.0938 0.0826611 37.5288 0.168584 37.9348 0.336227C38.3408 0.50387 38.7097 0.749942 39.0204 1.06035C39.3312 1.37077 39.5777 1.73942 39.7458 2.14521C39.9138 2.55101 40.0002 2.98597 40 3.4252V36.7379C40.0005 37.1772 39.9143 37.6123 39.7465 38.0183C39.5786 38.4243 39.3324 38.7932 39.0218 39.1039C38.7113 39.4147 38.3425 39.6611 37.9366 39.8292C37.5307 39.9972 37.0957 40.0836 36.6564 40.0834H3.34182C2.90281 40.0834 2.46811 39.9969 2.06254 39.8288C1.65697 39.6608 1.28849 39.4144 0.978153 39.1039C0.667813 38.7934 0.421694 38.4248 0.253859 38.0192C0.0860241 37.6135 -0.000238356 37.1787 4.94654e-07 36.7397V3.4252ZM15.8327 15.3343H21.2491V18.0543C22.0309 16.4907 24.0309 15.0834 27.0364 15.0834C32.7982 15.0834 34.1636 18.1979 34.1636 23.9125V34.4979H28.3327V25.2143C28.3327 21.9597 27.5509 20.1234 25.5655 20.1234C22.8109 20.1234 21.6655 22.1034 21.6655 25.2143V34.4979H15.8327V15.3343ZM5.83273 34.2488H11.6655V15.0834H5.83273V34.247V34.2488ZM12.5 8.83247C12.511 9.33187 12.4221 9.82844 12.2386 10.293C12.0551 10.7576 11.7806 11.1809 11.4313 11.538C11.082 11.8951 10.6649 12.1788 10.2045 12.3725C9.74402 12.5662 9.24953 12.666 8.75 12.666C8.25047 12.666 7.75598 12.5662 7.29554 12.3725C6.83509 12.1788 6.41798 11.8951 6.06867 11.538C5.71936 11.1809 5.4449 10.7576 5.26138 10.293C5.07787 9.82844 4.989 9.33187 5 8.83247C5.02159 7.8522 5.42615 6.91936 6.12706 6.23372C6.82797 5.54807 7.7695 5.16414 8.75 5.16414C9.7305 5.16414 10.672 5.54807 11.3729 6.23372C12.0738 6.91936 12.4784 7.8522 12.5 8.83247Z', fill='black')
              li
                h3.name Jessica Toma
                p.sub Kundservicechef
                
                a.mail(href='javascript:;') jessica@gaurdiosafety.com
                a.tel(href='javascript:;') +46 8 12 135 150
                
                a.linked(href='javascript:;')
                  svg(width='40', height='41', viewbox='0 0 40 41', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd', clip-rule='evenodd', d='M4.94654e-07 3.4252C4.94654e-07 2.53889 0.352084 1.68889 0.978796 1.06217C1.60551 0.435462 2.45551 0.0833785 3.34182 0.0833785H36.6545C37.0938 0.0826611 37.5288 0.168584 37.9348 0.336227C38.3408 0.50387 38.7097 0.749942 39.0204 1.06035C39.3312 1.37077 39.5777 1.73942 39.7458 2.14521C39.9138 2.55101 40.0002 2.98597 40 3.4252V36.7379C40.0005 37.1772 39.9143 37.6123 39.7465 38.0183C39.5786 38.4243 39.3324 38.7932 39.0218 39.1039C38.7113 39.4147 38.3425 39.6611 37.9366 39.8292C37.5307 39.9972 37.0957 40.0836 36.6564 40.0834H3.34182C2.90281 40.0834 2.46811 39.9969 2.06254 39.8288C1.65697 39.6608 1.28849 39.4144 0.978153 39.1039C0.667813 38.7934 0.421694 38.4248 0.253859 38.0192C0.0860241 37.6135 -0.000238356 37.1787 4.94654e-07 36.7397V3.4252ZM15.8327 15.3343H21.2491V18.0543C22.0309 16.4907 24.0309 15.0834 27.0364 15.0834C32.7982 15.0834 34.1636 18.1979 34.1636 23.9125V34.4979H28.3327V25.2143C28.3327 21.9597 27.5509 20.1234 25.5655 20.1234C22.8109 20.1234 21.6655 22.1034 21.6655 25.2143V34.4979H15.8327V15.3343ZM5.83273 34.2488H11.6655V15.0834H5.83273V34.247V34.2488ZM12.5 8.83247C12.511 9.33187 12.4221 9.82844 12.2386 10.293C12.0551 10.7576 11.7806 11.1809 11.4313 11.538C11.082 11.8951 10.6649 12.1788 10.2045 12.3725C9.74402 12.5662 9.24953 12.666 8.75 12.666C8.25047 12.666 7.75598 12.5662 7.29554 12.3725C6.83509 12.1788 6.41798 11.8951 6.06867 11.538C5.71936 11.1809 5.4449 10.7576 5.26138 10.293C5.07787 9.82844 4.989 9.33187 5 8.83247C5.02159 7.8522 5.42615 6.91936 6.12706 6.23372C6.82797 5.54807 7.7695 5.16414 8.75 5.16414C9.7305 5.16414 10.672 5.54807 11.3729 6.23372C12.0738 6.91936 12.4784 7.8522 12.5 8.83247Z', fill='black')
              li
                h3.name Fredrik Nilsson
                p.sub Regionschef
                
                a.mail(href='javascript:;') fredrik@gaurdio.se
                a.tel(href='javascript:;') +46 760 203 103
                
                a.linked(href='javascript:;')
                  svg(width='40', height='41', viewbox='0 0 40 41', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(fill-rule='evenodd', clip-rule='evenodd', d='M4.94654e-07 3.4252C4.94654e-07 2.53889 0.352084 1.68889 0.978796 1.06217C1.60551 0.435462 2.45551 0.0833785 3.34182 0.0833785H36.6545C37.0938 0.0826611 37.5288 0.168584 37.9348 0.336227C38.3408 0.50387 38.7097 0.749942 39.0204 1.06035C39.3312 1.37077 39.5777 1.73942 39.7458 2.14521C39.9138 2.55101 40.0002 2.98597 40 3.4252V36.7379C40.0005 37.1772 39.9143 37.6123 39.7465 38.0183C39.5786 38.4243 39.3324 38.7932 39.0218 39.1039C38.7113 39.4147 38.3425 39.6611 37.9366 39.8292C37.5307 39.9972 37.0957 40.0836 36.6564 40.0834H3.34182C2.90281 40.0834 2.46811 39.9969 2.06254 39.8288C1.65697 39.6608 1.28849 39.4144 0.978153 39.1039C0.667813 38.7934 0.421694 38.4248 0.253859 38.0192C0.0860241 37.6135 -0.000238356 37.1787 4.94654e-07 36.7397V3.4252ZM15.8327 15.3343H21.2491V18.0543C22.0309 16.4907 24.0309 15.0834 27.0364 15.0834C32.7982 15.0834 34.1636 18.1979 34.1636 23.9125V34.4979H28.3327V25.2143C28.3327 21.9597 27.5509 20.1234 25.5655 20.1234C22.8109 20.1234 21.6655 22.1034 21.6655 25.2143V34.4979H15.8327V15.3343ZM5.83273 34.2488H11.6655V15.0834H5.83273V34.247V34.2488ZM12.5 8.83247C12.511 9.33187 12.4221 9.82844 12.2386 10.293C12.0551 10.7576 11.7806 11.1809 11.4313 11.538C11.082 11.8951 10.6649 12.1788 10.2045 12.3725C9.74402 12.5662 9.24953 12.666 8.75 12.666C8.25047 12.666 7.75598 12.5662 7.29554 12.3725C6.83509 12.1788 6.41798 11.8951 6.06867 11.538C5.71936 11.1809 5.4449 10.7576 5.26138 10.293C5.07787 9.82844 4.989 9.33187 5 8.83247C5.02159 7.8522 5.42615 6.91936 6.12706 6.23372C6.82797 5.54807 7.7695 5.16414 8.75 5.16414C9.7305 5.16414 10.672 5.54807 11.3729 6.23372C12.0738 6.91936 12.4784 7.8522 12.5 8.83247Z', fill='black')

              

    section.section__.om-guardio__4
      .container
        .row
          .col.m12.s12.l12.xl12
            h2.title Vår styrelse
            
          .col.m12.s12.l12.xl12
            ul.list
              li
                h3.name__ Karin Strömberg
                .block__
                  .img__
                    img(src='img/om-guardio__4_user1.png', alt='logo')
                
                    a.linked(href='javascript:;')
                      svg(width='90', height='24', viewbox='0 0 90 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                        g(clip-path='url(#clip0_1462_6275)')
                          path(d='M35.5178 14.0571L40.484 20.5714H36.5625L32.1428 14.5886V20.5714H28.9285V3.42862H32.1428V13.5086L36.225 8.57138H40.3232L35.5178 14.0571V14.0571ZM22.6607 8.22863C21.9569 8.23987 21.2662 8.43288 20.6476 8.79113C20.0291 9.14939 19.5011 9.66221 19.109 10.2857V8.57138H16.0715V20.5714H19.2857V14.9657C19.2435 14.5588 19.2802 14.147 19.3936 13.7559C19.5071 13.3649 19.6948 13.0029 19.945 12.6925C20.1953 12.3822 20.5027 12.1301 20.8483 11.9519C21.1938 11.7738 21.57 11.6734 21.9535 11.6571C23.8178 11.6571 24.1072 13.6114 24.1072 14.9657V20.5714H27.3215V14.2114C27.3215 10.44 26.1482 8.22863 22.725 8.22863H22.6607V8.22863ZM51.4285 14.8457C51.4408 15.0969 51.4408 15.3487 51.4285 15.6H42.991V15.72C43.128 16.4349 43.4993 17.0743 44.0383 17.5235C44.5773 17.9728 45.2487 18.2025 45.9322 18.1714C46.4743 18.1965 47.0157 18.1047 47.5238 17.9015C48.0319 17.6983 48.4963 17.3878 48.8893 16.9886L51.0268 18.7029C50.3494 19.4404 49.5345 20.0181 48.6349 20.399C47.7352 20.7799 46.7707 20.9554 45.8035 20.9143C45.0025 20.9683 44.2 20.8383 43.4502 20.5331C42.7004 20.228 42.0207 19.7547 41.457 19.1453C40.8933 18.5359 40.4588 17.8046 40.1828 17.0008C39.9068 16.1969 39.7958 15.3392 39.8572 14.4857C39.8407 13.6431 39.9871 12.8059 40.2873 12.0263C40.5875 11.2467 41.035 10.5414 41.6019 9.95434C42.1689 9.36731 42.8431 8.91113 43.5825 8.61422C44.322 8.31732 45.1109 8.18606 45.9 8.22863C48.9215 8.22863 51.4285 10.5086 51.4285 14.8457ZM48.4393 13.3714C48.4275 13.0318 48.351 12.6984 48.2145 12.3914C48.0779 12.0844 47.8842 11.8103 47.6451 11.5857C47.406 11.3612 47.1266 11.1909 46.8238 11.0853C46.521 10.9797 46.2013 10.9409 45.884 10.9714C44.4707 10.8084 43.1909 11.8703 42.991 13.3714H48.4393ZM3.21434 3.42862H0V20.5714H9.64283V17.1431H3.21434V3.42862ZM61.0715 3.42862H64.2857V20.5714H61.2482V19.3714C60.8625 19.8783 60.3709 20.2818 59.8128 20.5497C59.2546 20.8177 58.6455 20.9425 58.034 20.9143C57.287 20.8939 56.5517 20.7106 55.8735 20.376C55.1953 20.0413 54.5884 19.5621 54.0902 18.9681C53.5919 18.374 53.2129 17.6775 52.9763 16.9214C52.7397 16.1653 52.6505 15.3656 52.7143 14.5714C52.6384 13.7761 52.7186 12.9726 52.9497 12.2121C53.1808 11.4517 53.5577 10.7508 54.0566 10.1542C54.5554 9.55761 55.1653 9.07829 55.8472 8.74678C56.5292 8.41526 57.2684 8.2388 58.0178 8.22863C58.576 8.20254 59.1335 8.29521 59.6577 8.50123C60.182 8.70725 60.6626 9.0225 61.0715 9.42862V3.42862V3.42862ZM61.3125 14.5714C61.363 14.1755 61.3334 13.7727 61.2256 13.3901C61.1178 13.0075 60.9344 12.654 60.6876 12.3534C60.4409 12.0529 60.1366 11.8122 59.7953 11.6478C59.454 11.4833 59.0835 11.3988 58.709 11.4C57.1714 11.5191 56.0064 12.9294 56.0893 14.5714C56.0064 16.2133 57.1714 17.6239 58.709 17.7429C59.0836 17.7441 59.454 17.6596 59.7953 17.4951C60.1367 17.3307 60.441 17.09 60.6877 16.7894C60.9345 16.4889 61.1179 16.1353 61.2257 15.7527C61.3335 15.3701 61.3631 14.9672 61.3125 14.5714V14.5714ZM12.8572 3.08569C12.3403 3.0935 11.8454 3.31023 11.4726 3.69211C11.0997 4.07398 10.8765 4.59256 10.8482 5.14313C10.8482 6.32644 11.7476 7.28588 12.8572 7.28588C13.9667 7.28588 14.8658 6.32625 14.8658 5.14313C14.8374 4.59263 14.6143 4.07412 14.2414 3.69229C13.8686 3.31045 13.3738 3.09373 12.857 3.08588L12.8572 3.08569ZM11.25 20.5714H14.4643V8.57138H11.25V20.5714ZM90 1.71431V22.2857C90 22.7404 89.8307 23.1764 89.5293 23.4979C89.2279 23.8194 88.8191 24 88.3928 24H69.1072C68.6809 24 68.2721 23.8194 67.9707 23.4979C67.6693 23.1764 67.5 22.7404 67.5 22.2857V1.71431C67.5 1.25965 67.6693 0.823606 67.9707 0.502111C68.2721 0.180615 68.6809 0 69.1072 0L88.3928 0C88.8191 0 89.2279 0.180615 89.5293 0.502111C89.8307 0.823606 90 1.25965 90 1.71431V1.71431ZM73.9285 8.57138H70.7143V20.5714H73.9285V8.57138ZM74.3303 5.14294C74.3303 3.95944 73.4309 3 72.3215 3C71.212 3 70.3125 3.95944 70.3125 5.14294C70.3125 6.32625 71.212 7.28569 72.3215 7.28569C73.4309 7.28569 74.3303 6.32625 74.3303 5.14294V5.14294ZM86.7857 14.2114C86.7857 10.44 85.6125 8.22863 82.1893 8.22863C81.4746 8.22869 80.7709 8.41637 80.1402 8.77512C79.5096 9.13386 78.9714 9.65264 78.5732 10.2857V8.57138H75.5357V20.5714H78.75V14.9657C78.7078 14.5588 78.7446 14.147 78.858 13.7559C78.9714 13.3649 79.1591 13.0029 79.4094 12.6925C79.6596 12.3822 79.9671 12.1301 80.3126 11.9519C80.6581 11.7738 81.0344 11.6734 81.4178 11.6571C83.2822 11.6571 83.5715 13.6114 83.5715 14.9657V20.5714H86.7857V14.2114Z', fill='black')
                        defs
                          clippath#clip0_1462_6275
                            rect(width='90', height='24', fill='white')

                  .cont__
                    h4 Nuvarande uppdrag:
                    p Styrelseordförande och delägare i Guardio Safety AB, Styrelseledamot i Green Cargo AB, Insights for You AB och Securera AB

                    h4 Tidigare uppdrag: 
                    p Styrelseledamot i Posten AB, Luftfartsverket, ATG, Lernia AB, AB Bilprovningen, PharmaRelations AB (delägare), Blue Ocean Sales (delägare). 

                    p "Innovativa produkter inom personligt skydd känns viktigt och rätt. En dedikerad och driven entreprenör avgjorde beslutet att investera i Guardio Safety"

              li
                h3.name__ Jamshid Lodhi
                .block__
                  .img__
                    img(src='img/om-guardio__4_user2.png', alt='logo')
                
                    a.linked(href='javascript:;')
                      svg(width='90', height='24', viewbox='0 0 90 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                        g(clip-path='url(#clip0_1462_6275)')
                          path(d='M35.5178 14.0571L40.484 20.5714H36.5625L32.1428 14.5886V20.5714H28.9285V3.42862H32.1428V13.5086L36.225 8.57138H40.3232L35.5178 14.0571V14.0571ZM22.6607 8.22863C21.9569 8.23987 21.2662 8.43288 20.6476 8.79113C20.0291 9.14939 19.5011 9.66221 19.109 10.2857V8.57138H16.0715V20.5714H19.2857V14.9657C19.2435 14.5588 19.2802 14.147 19.3936 13.7559C19.5071 13.3649 19.6948 13.0029 19.945 12.6925C20.1953 12.3822 20.5027 12.1301 20.8483 11.9519C21.1938 11.7738 21.57 11.6734 21.9535 11.6571C23.8178 11.6571 24.1072 13.6114 24.1072 14.9657V20.5714H27.3215V14.2114C27.3215 10.44 26.1482 8.22863 22.725 8.22863H22.6607V8.22863ZM51.4285 14.8457C51.4408 15.0969 51.4408 15.3487 51.4285 15.6H42.991V15.72C43.128 16.4349 43.4993 17.0743 44.0383 17.5235C44.5773 17.9728 45.2487 18.2025 45.9322 18.1714C46.4743 18.1965 47.0157 18.1047 47.5238 17.9015C48.0319 17.6983 48.4963 17.3878 48.8893 16.9886L51.0268 18.7029C50.3494 19.4404 49.5345 20.0181 48.6349 20.399C47.7352 20.7799 46.7707 20.9554 45.8035 20.9143C45.0025 20.9683 44.2 20.8383 43.4502 20.5331C42.7004 20.228 42.0207 19.7547 41.457 19.1453C40.8933 18.5359 40.4588 17.8046 40.1828 17.0008C39.9068 16.1969 39.7958 15.3392 39.8572 14.4857C39.8407 13.6431 39.9871 12.8059 40.2873 12.0263C40.5875 11.2467 41.035 10.5414 41.6019 9.95434C42.1689 9.36731 42.8431 8.91113 43.5825 8.61422C44.322 8.31732 45.1109 8.18606 45.9 8.22863C48.9215 8.22863 51.4285 10.5086 51.4285 14.8457ZM48.4393 13.3714C48.4275 13.0318 48.351 12.6984 48.2145 12.3914C48.0779 12.0844 47.8842 11.8103 47.6451 11.5857C47.406 11.3612 47.1266 11.1909 46.8238 11.0853C46.521 10.9797 46.2013 10.9409 45.884 10.9714C44.4707 10.8084 43.1909 11.8703 42.991 13.3714H48.4393ZM3.21434 3.42862H0V20.5714H9.64283V17.1431H3.21434V3.42862ZM61.0715 3.42862H64.2857V20.5714H61.2482V19.3714C60.8625 19.8783 60.3709 20.2818 59.8128 20.5497C59.2546 20.8177 58.6455 20.9425 58.034 20.9143C57.287 20.8939 56.5517 20.7106 55.8735 20.376C55.1953 20.0413 54.5884 19.5621 54.0902 18.9681C53.5919 18.374 53.2129 17.6775 52.9763 16.9214C52.7397 16.1653 52.6505 15.3656 52.7143 14.5714C52.6384 13.7761 52.7186 12.9726 52.9497 12.2121C53.1808 11.4517 53.5577 10.7508 54.0566 10.1542C54.5554 9.55761 55.1653 9.07829 55.8472 8.74678C56.5292 8.41526 57.2684 8.2388 58.0178 8.22863C58.576 8.20254 59.1335 8.29521 59.6577 8.50123C60.182 8.70725 60.6626 9.0225 61.0715 9.42862V3.42862V3.42862ZM61.3125 14.5714C61.363 14.1755 61.3334 13.7727 61.2256 13.3901C61.1178 13.0075 60.9344 12.654 60.6876 12.3534C60.4409 12.0529 60.1366 11.8122 59.7953 11.6478C59.454 11.4833 59.0835 11.3988 58.709 11.4C57.1714 11.5191 56.0064 12.9294 56.0893 14.5714C56.0064 16.2133 57.1714 17.6239 58.709 17.7429C59.0836 17.7441 59.454 17.6596 59.7953 17.4951C60.1367 17.3307 60.441 17.09 60.6877 16.7894C60.9345 16.4889 61.1179 16.1353 61.2257 15.7527C61.3335 15.3701 61.3631 14.9672 61.3125 14.5714V14.5714ZM12.8572 3.08569C12.3403 3.0935 11.8454 3.31023 11.4726 3.69211C11.0997 4.07398 10.8765 4.59256 10.8482 5.14313C10.8482 6.32644 11.7476 7.28588 12.8572 7.28588C13.9667 7.28588 14.8658 6.32625 14.8658 5.14313C14.8374 4.59263 14.6143 4.07412 14.2414 3.69229C13.8686 3.31045 13.3738 3.09373 12.857 3.08588L12.8572 3.08569ZM11.25 20.5714H14.4643V8.57138H11.25V20.5714ZM90 1.71431V22.2857C90 22.7404 89.8307 23.1764 89.5293 23.4979C89.2279 23.8194 88.8191 24 88.3928 24H69.1072C68.6809 24 68.2721 23.8194 67.9707 23.4979C67.6693 23.1764 67.5 22.7404 67.5 22.2857V1.71431C67.5 1.25965 67.6693 0.823606 67.9707 0.502111C68.2721 0.180615 68.6809 0 69.1072 0L88.3928 0C88.8191 0 89.2279 0.180615 89.5293 0.502111C89.8307 0.823606 90 1.25965 90 1.71431V1.71431ZM73.9285 8.57138H70.7143V20.5714H73.9285V8.57138ZM74.3303 5.14294C74.3303 3.95944 73.4309 3 72.3215 3C71.212 3 70.3125 3.95944 70.3125 5.14294C70.3125 6.32625 71.212 7.28569 72.3215 7.28569C73.4309 7.28569 74.3303 6.32625 74.3303 5.14294V5.14294ZM86.7857 14.2114C86.7857 10.44 85.6125 8.22863 82.1893 8.22863C81.4746 8.22869 80.7709 8.41637 80.1402 8.77512C79.5096 9.13386 78.9714 9.65264 78.5732 10.2857V8.57138H75.5357V20.5714H78.75V14.9657C78.7078 14.5588 78.7446 14.147 78.858 13.7559C78.9714 13.3649 79.1591 13.0029 79.4094 12.6925C79.6596 12.3822 79.9671 12.1301 80.3126 11.9519C80.6581 11.7738 81.0344 11.6734 81.4178 11.6571C83.2822 11.6571 83.5715 13.6114 83.5715 14.9657V20.5714H86.7857V14.2114Z', fill='black')
                        defs
                          clippath#clip0_1462_6275
                            rect(width='90', height='24', fill='white')

                  .cont__
                    h4 Nuvarande uppdrag:
                    p Styrelseordförande och delägare i Guardio Safety AB, Styrelseledamot i Green Cargo AB, Insights for You AB och Securera AB

                    h4 Tidigare uppdrag: 
                    p Styrelseledamot i Posten AB, Luftfartsverket, ATG, Lernia AB, AB Bilprovningen, PharmaRelations AB (delägare), Blue Ocean Sales (delägare). 

                    p "Innovativa produkter inom personligt skydd känns viktigt och rätt. En dedikerad och driven entreprenör avgjorde beslutet att investera i Guardio Safety"

              li
                h3.name__ Oscar Karlsson
                .block__
                  .img__
                    img(src='img/om-guardio__4_user3.png', alt='logo')
                
                    a.linked(href='javascript:;')
                      svg(width='90', height='24', viewbox='0 0 90 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                        g(clip-path='url(#clip0_1462_6275)')
                          path(d='M35.5178 14.0571L40.484 20.5714H36.5625L32.1428 14.5886V20.5714H28.9285V3.42862H32.1428V13.5086L36.225 8.57138H40.3232L35.5178 14.0571V14.0571ZM22.6607 8.22863C21.9569 8.23987 21.2662 8.43288 20.6476 8.79113C20.0291 9.14939 19.5011 9.66221 19.109 10.2857V8.57138H16.0715V20.5714H19.2857V14.9657C19.2435 14.5588 19.2802 14.147 19.3936 13.7559C19.5071 13.3649 19.6948 13.0029 19.945 12.6925C20.1953 12.3822 20.5027 12.1301 20.8483 11.9519C21.1938 11.7738 21.57 11.6734 21.9535 11.6571C23.8178 11.6571 24.1072 13.6114 24.1072 14.9657V20.5714H27.3215V14.2114C27.3215 10.44 26.1482 8.22863 22.725 8.22863H22.6607V8.22863ZM51.4285 14.8457C51.4408 15.0969 51.4408 15.3487 51.4285 15.6H42.991V15.72C43.128 16.4349 43.4993 17.0743 44.0383 17.5235C44.5773 17.9728 45.2487 18.2025 45.9322 18.1714C46.4743 18.1965 47.0157 18.1047 47.5238 17.9015C48.0319 17.6983 48.4963 17.3878 48.8893 16.9886L51.0268 18.7029C50.3494 19.4404 49.5345 20.0181 48.6349 20.399C47.7352 20.7799 46.7707 20.9554 45.8035 20.9143C45.0025 20.9683 44.2 20.8383 43.4502 20.5331C42.7004 20.228 42.0207 19.7547 41.457 19.1453C40.8933 18.5359 40.4588 17.8046 40.1828 17.0008C39.9068 16.1969 39.7958 15.3392 39.8572 14.4857C39.8407 13.6431 39.9871 12.8059 40.2873 12.0263C40.5875 11.2467 41.035 10.5414 41.6019 9.95434C42.1689 9.36731 42.8431 8.91113 43.5825 8.61422C44.322 8.31732 45.1109 8.18606 45.9 8.22863C48.9215 8.22863 51.4285 10.5086 51.4285 14.8457ZM48.4393 13.3714C48.4275 13.0318 48.351 12.6984 48.2145 12.3914C48.0779 12.0844 47.8842 11.8103 47.6451 11.5857C47.406 11.3612 47.1266 11.1909 46.8238 11.0853C46.521 10.9797 46.2013 10.9409 45.884 10.9714C44.4707 10.8084 43.1909 11.8703 42.991 13.3714H48.4393ZM3.21434 3.42862H0V20.5714H9.64283V17.1431H3.21434V3.42862ZM61.0715 3.42862H64.2857V20.5714H61.2482V19.3714C60.8625 19.8783 60.3709 20.2818 59.8128 20.5497C59.2546 20.8177 58.6455 20.9425 58.034 20.9143C57.287 20.8939 56.5517 20.7106 55.8735 20.376C55.1953 20.0413 54.5884 19.5621 54.0902 18.9681C53.5919 18.374 53.2129 17.6775 52.9763 16.9214C52.7397 16.1653 52.6505 15.3656 52.7143 14.5714C52.6384 13.7761 52.7186 12.9726 52.9497 12.2121C53.1808 11.4517 53.5577 10.7508 54.0566 10.1542C54.5554 9.55761 55.1653 9.07829 55.8472 8.74678C56.5292 8.41526 57.2684 8.2388 58.0178 8.22863C58.576 8.20254 59.1335 8.29521 59.6577 8.50123C60.182 8.70725 60.6626 9.0225 61.0715 9.42862V3.42862V3.42862ZM61.3125 14.5714C61.363 14.1755 61.3334 13.7727 61.2256 13.3901C61.1178 13.0075 60.9344 12.654 60.6876 12.3534C60.4409 12.0529 60.1366 11.8122 59.7953 11.6478C59.454 11.4833 59.0835 11.3988 58.709 11.4C57.1714 11.5191 56.0064 12.9294 56.0893 14.5714C56.0064 16.2133 57.1714 17.6239 58.709 17.7429C59.0836 17.7441 59.454 17.6596 59.7953 17.4951C60.1367 17.3307 60.441 17.09 60.6877 16.7894C60.9345 16.4889 61.1179 16.1353 61.2257 15.7527C61.3335 15.3701 61.3631 14.9672 61.3125 14.5714V14.5714ZM12.8572 3.08569C12.3403 3.0935 11.8454 3.31023 11.4726 3.69211C11.0997 4.07398 10.8765 4.59256 10.8482 5.14313C10.8482 6.32644 11.7476 7.28588 12.8572 7.28588C13.9667 7.28588 14.8658 6.32625 14.8658 5.14313C14.8374 4.59263 14.6143 4.07412 14.2414 3.69229C13.8686 3.31045 13.3738 3.09373 12.857 3.08588L12.8572 3.08569ZM11.25 20.5714H14.4643V8.57138H11.25V20.5714ZM90 1.71431V22.2857C90 22.7404 89.8307 23.1764 89.5293 23.4979C89.2279 23.8194 88.8191 24 88.3928 24H69.1072C68.6809 24 68.2721 23.8194 67.9707 23.4979C67.6693 23.1764 67.5 22.7404 67.5 22.2857V1.71431C67.5 1.25965 67.6693 0.823606 67.9707 0.502111C68.2721 0.180615 68.6809 0 69.1072 0L88.3928 0C88.8191 0 89.2279 0.180615 89.5293 0.502111C89.8307 0.823606 90 1.25965 90 1.71431V1.71431ZM73.9285 8.57138H70.7143V20.5714H73.9285V8.57138ZM74.3303 5.14294C74.3303 3.95944 73.4309 3 72.3215 3C71.212 3 70.3125 3.95944 70.3125 5.14294C70.3125 6.32625 71.212 7.28569 72.3215 7.28569C73.4309 7.28569 74.3303 6.32625 74.3303 5.14294V5.14294ZM86.7857 14.2114C86.7857 10.44 85.6125 8.22863 82.1893 8.22863C81.4746 8.22869 80.7709 8.41637 80.1402 8.77512C79.5096 9.13386 78.9714 9.65264 78.5732 10.2857V8.57138H75.5357V20.5714H78.75V14.9657C78.7078 14.5588 78.7446 14.147 78.858 13.7559C78.9714 13.3649 79.1591 13.0029 79.4094 12.6925C79.6596 12.3822 79.9671 12.1301 80.3126 11.9519C80.6581 11.7738 81.0344 11.6734 81.4178 11.6571C83.2822 11.6571 83.5715 13.6114 83.5715 14.9657V20.5714H86.7857V14.2114Z', fill='black')
                        defs
                          clippath#clip0_1462_6275
                            rect(width='90', height='24', fill='white')

                  .cont__
                    h4 Nuvarande uppdrag:
                    p Styrelseordförande och delägare i Guardio Safety AB, Styrelseledamot i Green Cargo AB, Insights for You AB och Securera AB

                    h4 Tidigare uppdrag: 
                    p Styrelseledamot i Posten AB, Luftfartsverket, ATG, Lernia AB, AB Bilprovningen, PharmaRelations AB (delägare), Blue Ocean Sales (delägare). 

                    p "Innovativa produkter inom personligt skydd känns viktigt och rätt. En dedikerad och driven entreprenör avgjorde beslutet att investera i Guardio Safety"


              li
                h3.name__ Jerker Adeberg
                .block__
                  .img__
                    img(src='img/om-guardio__4_user4.png', alt='logo')
                
                    a.linked(href='javascript:;')
                      svg(width='90', height='24', viewbox='0 0 90 24', fill='none', xmlns='http://www.w3.org/2000/svg')
                        g(clip-path='url(#clip0_1462_6275)')
                          path(d='M35.5178 14.0571L40.484 20.5714H36.5625L32.1428 14.5886V20.5714H28.9285V3.42862H32.1428V13.5086L36.225 8.57138H40.3232L35.5178 14.0571V14.0571ZM22.6607 8.22863C21.9569 8.23987 21.2662 8.43288 20.6476 8.79113C20.0291 9.14939 19.5011 9.66221 19.109 10.2857V8.57138H16.0715V20.5714H19.2857V14.9657C19.2435 14.5588 19.2802 14.147 19.3936 13.7559C19.5071 13.3649 19.6948 13.0029 19.945 12.6925C20.1953 12.3822 20.5027 12.1301 20.8483 11.9519C21.1938 11.7738 21.57 11.6734 21.9535 11.6571C23.8178 11.6571 24.1072 13.6114 24.1072 14.9657V20.5714H27.3215V14.2114C27.3215 10.44 26.1482 8.22863 22.725 8.22863H22.6607V8.22863ZM51.4285 14.8457C51.4408 15.0969 51.4408 15.3487 51.4285 15.6H42.991V15.72C43.128 16.4349 43.4993 17.0743 44.0383 17.5235C44.5773 17.9728 45.2487 18.2025 45.9322 18.1714C46.4743 18.1965 47.0157 18.1047 47.5238 17.9015C48.0319 17.6983 48.4963 17.3878 48.8893 16.9886L51.0268 18.7029C50.3494 19.4404 49.5345 20.0181 48.6349 20.399C47.7352 20.7799 46.7707 20.9554 45.8035 20.9143C45.0025 20.9683 44.2 20.8383 43.4502 20.5331C42.7004 20.228 42.0207 19.7547 41.457 19.1453C40.8933 18.5359 40.4588 17.8046 40.1828 17.0008C39.9068 16.1969 39.7958 15.3392 39.8572 14.4857C39.8407 13.6431 39.9871 12.8059 40.2873 12.0263C40.5875 11.2467 41.035 10.5414 41.6019 9.95434C42.1689 9.36731 42.8431 8.91113 43.5825 8.61422C44.322 8.31732 45.1109 8.18606 45.9 8.22863C48.9215 8.22863 51.4285 10.5086 51.4285 14.8457ZM48.4393 13.3714C48.4275 13.0318 48.351 12.6984 48.2145 12.3914C48.0779 12.0844 47.8842 11.8103 47.6451 11.5857C47.406 11.3612 47.1266 11.1909 46.8238 11.0853C46.521 10.9797 46.2013 10.9409 45.884 10.9714C44.4707 10.8084 43.1909 11.8703 42.991 13.3714H48.4393ZM3.21434 3.42862H0V20.5714H9.64283V17.1431H3.21434V3.42862ZM61.0715 3.42862H64.2857V20.5714H61.2482V19.3714C60.8625 19.8783 60.3709 20.2818 59.8128 20.5497C59.2546 20.8177 58.6455 20.9425 58.034 20.9143C57.287 20.8939 56.5517 20.7106 55.8735 20.376C55.1953 20.0413 54.5884 19.5621 54.0902 18.9681C53.5919 18.374 53.2129 17.6775 52.9763 16.9214C52.7397 16.1653 52.6505 15.3656 52.7143 14.5714C52.6384 13.7761 52.7186 12.9726 52.9497 12.2121C53.1808 11.4517 53.5577 10.7508 54.0566 10.1542C54.5554 9.55761 55.1653 9.07829 55.8472 8.74678C56.5292 8.41526 57.2684 8.2388 58.0178 8.22863C58.576 8.20254 59.1335 8.29521 59.6577 8.50123C60.182 8.70725 60.6626 9.0225 61.0715 9.42862V3.42862V3.42862ZM61.3125 14.5714C61.363 14.1755 61.3334 13.7727 61.2256 13.3901C61.1178 13.0075 60.9344 12.654 60.6876 12.3534C60.4409 12.0529 60.1366 11.8122 59.7953 11.6478C59.454 11.4833 59.0835 11.3988 58.709 11.4C57.1714 11.5191 56.0064 12.9294 56.0893 14.5714C56.0064 16.2133 57.1714 17.6239 58.709 17.7429C59.0836 17.7441 59.454 17.6596 59.7953 17.4951C60.1367 17.3307 60.441 17.09 60.6877 16.7894C60.9345 16.4889 61.1179 16.1353 61.2257 15.7527C61.3335 15.3701 61.3631 14.9672 61.3125 14.5714V14.5714ZM12.8572 3.08569C12.3403 3.0935 11.8454 3.31023 11.4726 3.69211C11.0997 4.07398 10.8765 4.59256 10.8482 5.14313C10.8482 6.32644 11.7476 7.28588 12.8572 7.28588C13.9667 7.28588 14.8658 6.32625 14.8658 5.14313C14.8374 4.59263 14.6143 4.07412 14.2414 3.69229C13.8686 3.31045 13.3738 3.09373 12.857 3.08588L12.8572 3.08569ZM11.25 20.5714H14.4643V8.57138H11.25V20.5714ZM90 1.71431V22.2857C90 22.7404 89.8307 23.1764 89.5293 23.4979C89.2279 23.8194 88.8191 24 88.3928 24H69.1072C68.6809 24 68.2721 23.8194 67.9707 23.4979C67.6693 23.1764 67.5 22.7404 67.5 22.2857V1.71431C67.5 1.25965 67.6693 0.823606 67.9707 0.502111C68.2721 0.180615 68.6809 0 69.1072 0L88.3928 0C88.8191 0 89.2279 0.180615 89.5293 0.502111C89.8307 0.823606 90 1.25965 90 1.71431V1.71431ZM73.9285 8.57138H70.7143V20.5714H73.9285V8.57138ZM74.3303 5.14294C74.3303 3.95944 73.4309 3 72.3215 3C71.212 3 70.3125 3.95944 70.3125 5.14294C70.3125 6.32625 71.212 7.28569 72.3215 7.28569C73.4309 7.28569 74.3303 6.32625 74.3303 5.14294V5.14294ZM86.7857 14.2114C86.7857 10.44 85.6125 8.22863 82.1893 8.22863C81.4746 8.22869 80.7709 8.41637 80.1402 8.77512C79.5096 9.13386 78.9714 9.65264 78.5732 10.2857V8.57138H75.5357V20.5714H78.75V14.9657C78.7078 14.5588 78.7446 14.147 78.858 13.7559C78.9714 13.3649 79.1591 13.0029 79.4094 12.6925C79.6596 12.3822 79.9671 12.1301 80.3126 11.9519C80.6581 11.7738 81.0344 11.6734 81.4178 11.6571C83.2822 11.6571 83.5715 13.6114 83.5715 14.9657V20.5714H86.7857V14.2114Z', fill='black')
                        defs
                          clippath#clip0_1462_6275
                            rect(width='90', height='24', fill='white')

                  .cont__
                    h4 Nuvarande uppdrag:
                    p Styrelseordförande och delägare i Guardio Safety AB, Styrelseledamot i Green Cargo AB, Insights for You AB och Securera AB

                    h4 Tidigare uppdrag: 
                    p Styrelseledamot i Posten AB, Luftfartsverket, ATG, Lernia AB, AB Bilprovningen, PharmaRelations AB (delägare), Blue Ocean Sales (delägare). 

                    p "Innovativa produkter inom personligt skydd känns viktigt och rätt. En dedikerad och driven entreprenör avgjorde beslutet att investera i Guardio Safety"



                
                
    section.section__.om-guardio__5
      .container
        .row
          .col.m12.s12.l12.xl12
            h2.title Våra samarbeten
            p.sub Vi samarbetar med branschledare och innovationspionjärer
          .col.m12.s12.l12.xl12
            ul.list
              li
                img(src='img/om-guardio__5_brand_1.svg', alt='loguardio__5_brand_1go')
              li
                img(src='img/om-guardio__5_brand_2.svg', alt='loguardio__5_brand_1go')
              li
                img(src='img/om-guardio__5_brand_3.svg', alt='loguardio__5_brand_1go')
              li
                img(src='img/om-guardio__5_brand_4.svg', alt='loguardio__5_brand_1go')
              li
                img(src='img/om-guardio__5_brand_5.svg', alt='loguardio__5_brand_1go')
            
            
     


            

    footer
      .container
        .row
          .col.m12.s12.l8.offset-xl2.xl8.offset-xl2
            h4 Läs mer om Guardio och våra produkter på vår engelska hemsida.
      .container
        .row
          .col.m12.s12.l3.xl3
            .box__logo
             a.logo(href='javascript:;')
              img(src='img/logo_big.svg', alt='logo')
            p.company Personal Safety Innovation.
            
            ul.soseal
              li
                a(href='javascript:;')
                  img(src='img/inst.svg', alt='inst')
              li
                a(href='javascript:;')
                  img(src='img/link.svg', alt='link')
              li
                a(href='javascript:;')
                  img(src='img/yotu.svg', alt='yotu')
              li
                a(href='javascript:;')
                  img(src='img/fack.svg', alt='fack')
 
            ul.brand
              li
                a(href='javascript:;')
                  img(src='img/Group__132.svg', alt='Group__132')
              li
                a(href='javascript:;')
                  img(src='img/hallnollan_logo.png', alt='hallnollan_logo')

            
              
          .col.m6.s6.l2.xl2
            h3 Meny
            ul
              li
                a(href='javascript:;') Om Guardio
              li
                a(href='javascript:;') Nyheter
              li
                a(href='javascript:;') Kontakt
              li
                a(href='javascript:;') Blogg
                
          .col.m6.s6.l2.xl2
          
            h3 Produkter
            ul
              li
                a(href='javascript:;') Hörselskydd
              li
                a(href='javascript:;') Skyddshjälm
              li
                a(href='javascript:;') Skyddsglasögon
              li
                a(href='javascript:;') Accesoarer
                
          .col.m6.s12.l2.xl2
          
            h3 Support
            ul
              li
                a(href='javascript:;') Support
              li
                a(href='javascript:;') Bluetooth
              li
                a(href='javascript:;') MIPS
              li
                a(href='javascript:;') Accesoarer
              li
                a(href='javascript:;') Aktiv Brus Reducering
              li
                a(href='javascript:;') Batterier
              li
                a(href='javascript:;') TwiceMe
              li
                a(href='javascript:;') Mobilapp

                
          .col.m6.s12.l3.xl3
          
            h3 Nyhetsbrev
            p Anmäl dig till vårt nyhetsbrev och håll dig uppdaterad om de senaste nyheterna och produktuppdateringarna!

            form(method='POST', action='javascript:void(null);')
              // Hidden Required Fields

              .form_input
                span.field.email
                  input(type='email', name='email', required='', value='', placeholder='Epost adress...')

              button.green(type='submit', name='send') Send




    script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js')
    script.
      console.log('index.pug');

    




