doctype

html(lang='en')
  head
    
    - var title = "Coursecode"
    - var keywords = "Keywords var keywords"
    - var description = "Description var description"
    title= title

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    link(rel='icon', type='static/ico', href='img/favicon.ico?v=13')

    meta(property='og:url', content='https:')
    meta(property='og:image', content='img/ogg.png?v=1.3')
    meta(property='og:image:width', content='300')
    meta(property='og:image:height', content='300')

    meta(property='og:title', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(property='og:type', conten= '' + keywords + ''  )
    meta(name='description', conten= '' + description + '' )
    meta(name='keywords'  conten= '' + keywords + '' )

  body.info(data-img='img/1.png')
    
    .right__menu
      ul.menu__
        li
          a.logo(href='/')
            img.w(src='img/logo_b.svg', alt='logo')

        li
          a(href='javascript:;') Skyddshjälmar
        li
          a(href='javascript:;') Säkerhetsglasögon
        li
          a(href='javascript:;') Hörselskydd
        li
          a(href='javascript:;') Tillbehör
      
    
    header
      .container
        .row
          .col.m12.s12.l12.xl12
            a.mobile(href='javascript:;')
              
            .box__logo
             a.logo(href='javascript:;')
            //  img.w(src='img/logo.svg', alt='logo')
              img.b(src='img/logo_b.svg', alt='logo')
              
            ul.menu__
              li
                a(href='javascript:;') Skyddshjälmar
              li
                a(href='javascript:;') Säkerhetsglasögon
              li
                a(href='javascript:;') Hörselskydd
              li
                a(href='javascript:;') Tillbehör

              
            ul.login__
              li
                a(href='javascript:;') Nyheter
              li
                a(href='javascript:;') Om Guardio
              li
                a(href='javascript:;') Support

                
            ul.navigat
              li
                a.search(href='javascript:;')
              li
                a.car(href='javascript:;')
                  span 1

          
    section.red-gdpr__1
      .container
        .row
          .col.m12.s12.l5.xl5
            h1.title Integritetspolicy
            p.slag Din integritet är viktig för oss. I vår policy för behandling av personuppgifter beskrivs bland annat vilka uppgifter vi samlar in, i vilket syfte de samlas in, på vilket sätt du kan ha kontroll över dina egna uppgifter samt hur du kan kontakta oss.
          .scroll__ 
            a(href='#section__2')  LÄS mer
             // .col.m12.s12.l12.xl12


 
          
    section#section__2.red-gdpr__2
      .container
        .row
          .col.m12.s12.l12.xl12
            p
              | Guardio Safety AB, 559006-8655, &rdquo;Guardio&rdquo;, Fr&auml;sarv&auml;gen 26a, 142 50 Skog&aring;s) &auml;r personuppgiftsansvarig f&ouml;r behandlingen av personuppgifter.
            p
              | VILKA PERSONUPPGIFTER SAMLAR VI IN OM DIG SOM KUND OCH VARF&Ouml;R?
              br
              | H&auml;r nedan beskrivs f&ouml;r vilka &auml;ndam&aring;l vi behandlar personuppgifter, vilka kategorier av personuppgifter som behandlas samt p&aring; vilken laglig grund behandlingen utf&ouml;rs.
            p
              | F&Ouml;R ATT KUNNA HANTERA BEST&Auml;LLNINGAR/K&Ouml;P
              br
              | Personuppgifter behandlas f&ouml;r att:
            p &bull; hantera retur-, reklamation- och garanti&auml;renden.
            p
              | &bull; hantera betalningar (inklusive analysering av vilka betall&ouml;sningar som ska erbjudas).
            p &bull; kunna g&ouml;ra id-kontroll.
            p De kategorier av personuppgifter som behandlas &auml;r:
            p
              | &bull; leverera en best&auml;lld produkt eller tj&auml;nst (inklusive avisering om leverans eller kontakter r&ouml;rande leverans).
            p &bull; Namn
            p &bull; Kontaktuppgifter (t ex adress, e-post, telefonnummer).
            p &bull; Betalinformation (t ex transaktionsreferens, transaktionstidpunkt).
            p &bull; Organisations-/personnummer
            p &bull; Kundnummer
            p &bull; Orderinformation
            p Betalningshistorik
            p Laglig grund: Fullg&ouml;rande av k&ouml;peavtal
            p
              | Personuppgifter behandlas f&ouml;r att:
              br
              | &bull; ge beh&ouml;righet att logga in.
              br
              | &bull; uppr&auml;tth&aring;lla korrekta och uppdaterade uppgifter.
              br
              | &bull; g&ouml;ra det m&ouml;jligt att f&ouml;lja k&ouml;phistorik.
              br
              | De kategorier av personuppgifter som behandlas &auml;r:
              br
              | &bull; Namn
              br
              | &bull; Kontaktuppgifter (t ex adress, e-post, telefonnummer).
              br
              | &bull; Anv&auml;ndarnamn (e-postadress)
              br
              | &bull; K&ouml;phistorik
              br
              | &bull; Best&auml;llningshistorik
              br
              | &bull; Kundnummer
              br
              | Laglig grund: Registrerade kunder: ber&auml;ttigat intresse. Behandlingen &auml;r n&ouml;dv&auml;ndig f&ouml;r att tillgodose ditt och v&aring;rt intresse av att hantera och administrera ditt anv&auml;ndarkonto.
            p
              | F&Ouml;R ATT KUNNA HANTERA KUNDTJ&Auml;NST&Auml;RENDEN
              br
              | Personuppgifter behandlas f&ouml;r att:
              br
              | &bull; kommunicera med kunden och besvara f&ouml;rfr&aring;gningar som kommer in till kundtj&auml;nst via telefon eller i digitala kanaler (inklusive sociala medier).
              br
              | &bull; utreda problem, klagom&aring;l- och support&auml;renden. De kategorier av personuppgifter som behandlas &auml;r:
              br
              | &bull; Namn
              br
              | &bull; Kontaktuppgifter (t.ex. adress, e-post, telefonnummer).
              br
              | &bull; Din korrespondens
              br
              | &bull; Uppgift om k&ouml;ptidpunkt, k&ouml;pst&auml;lle, felet/klagom&aring;let p&aring; produkt.
              br
              | &bull; Anv&auml;ndaruppgifter f&ouml;r webbkonto vid exempelvis inloggningsproblem.
              br
              | Laglig grund: Ber&auml;ttigat intresse. Behandlingen &auml;r n&ouml;dv&auml;ndig f&ouml;r att tillgodose ditt och v&aring;rt intresse av att kunna hantera kundtj&auml;nst&auml;renden.
              br
              | PRENUMERATION P&angst; NYHETSBREV
              br
              | Personuppgifter behandlas f&ouml;r att:
              br
              | &bull; tillhandah&aring;lla &ouml;nskade nyhetsbrev.
              br
              | &bull; analysera data i syfte att skapa relevanta erbjudanden f&ouml;r dig.
              br
              | De kategorier av personuppgifter som behandlas &auml;r:
              br
              | &bull; E-postadress
              br
              | &bull; Namn (om detta finns att tillg&aring;)
              br
              | &bull; Lokation (om detta finns att tillg&aring;)
              br
              | &bull; Bransch (om detta finns att tillg&aring;)
              br
              | &bull; Butik (om detta finns att tillg&aring;)
              br
              | Laglig grund: Samtycke. Genom att l&auml;mna din e-postadress i avsett f&auml;lt och aktivt klicka p&aring; knappen Prenumerera anses du ha l&auml;mnat ditt samtycke f&ouml;r utskick.
            p
              | Du kan n&auml;r som helst v&auml;lja att avsluta din prenumeration, via l&auml;nk i varje nyhetsbrev.
            p
              | LAGRING AV PERSONUPPGIFTER
              br
              | Behandlingen sker enligt g&auml;llande lagstiftning och inneb&auml;r att personuppgifter inte bevaras under en l&auml;ngre tid &auml;n vad som &auml;r n&ouml;dv&auml;ndigt med h&auml;nsyn till &auml;ndam&aring;len med behandlingen. Detta inneb&auml;r rent praktiskt att uppgifter gallras bort d&aring; de inte l&auml;ngre &auml;r aktuella eller n&ouml;dv&auml;ndiga f&ouml;r analyser och de &auml;ndam&aring;l som de har samlats in f&ouml;r. I marknadsf&ouml;ringssyfte anv&auml;nds inte information om k&ouml;ptransaktioner som &auml;r &auml;ldre &auml;n 3 &aring;r. Vid all hantering av personuppgifter iakttas dock alltid h&ouml;g s&auml;kerhet och sekretess.
            p
              | OM COOKIES
              br
              | Personuppgifter kan samlas in n&auml;r du anv&auml;nder swedol.se och d&aring; lagras informationen om din anv&auml;ndning och vilka sidor som bes&ouml;ks. Det kan vara teknisk information om din enhet och internetuppkoppling s&aring;som operativsystem, webbl&auml;sarversion, IP-adress, cookies och unika identifierare. Vid bes&ouml;k p&aring; Guardios webbsajter (guardio.se, guardiosafety.com, guardio.no, guardio.fi) d&auml;r v&aring;ra tj&auml;nster tillhandah&aring;lls, kan olika tekniker anv&auml;ndas f&ouml;r att k&auml;nna igen dig i syfte att l&auml;ra oss mer om v&aring;ra anv&auml;ndare. Detta kan ske direkt eller genom anv&auml;ndning av teknik fr&aring;n tredje part. Detta kan vara anv&auml;ndning av t ex cookies.
            p
              | VAD &Auml;R EN COOKIE?
              br
              | Det finns tv&aring; typer av cookies. Den ena typen sparar en textfil under en l&auml;ngre tid, men har ett utg&aring;ngsdatum. Denna cookie syftar till att exempelvis tala om f&ouml;r dig vad som &auml;r nytt sedan senaste bes&ouml;ket. Den andra typen av cookie &auml;r en s&aring; kallad sessionscookie, som saknar utg&aring;ngsdatum. Textfilen sparas tempor&auml;rt s&aring; l&auml;nge som du &auml;r inne och surfar p&aring; en sida, och hj&auml;lper exempelvis till med att h&aring;lla reda p&aring; vilket spr&aring;k som du vill anv&auml;nda dig av. S&aring; snart som webbl&auml;saren st&auml;ngs ner raderas ocks&aring; textfilen.
            p
              | VARF&Ouml;R ANV&Auml;NDER VI OSS AV COOKIES?
              br
              | P&aring; Guardios webbsajter (guardio.se, guardiosafety.com, guardio.no, guardio.fi) anv&auml;nder vi cookies f&ouml;r att exempelvis h&aring;lla reda p&aring; vilka varor som du har lagt i din varukorg. Vi anv&auml;nder &auml;ven cookies f&ouml;r att f&aring; fram webbstatistik. Denna statistik beh&ouml;ver vi f&ouml;r att vidareutveckla v&aring;ra webplatser. Informationen &auml;r inte tillg&auml;nglig f&ouml;r andra parter &auml;n Guardio Safety AB.
            p
              | F&ouml;r att kunna anv&auml;nda v&aring;ra webplatser fullt ut m&aring;ste du acceptera cookies, och det g&ouml;r du genom din webbl&auml;sares inst&auml;llningar. Vill du inte acceptera cookies kan du st&auml;nga av cookies via din webbl&auml;sares s&auml;kerhetsinst&auml;llningar. Detta inneb&auml;r dock att v&aring;ra webplatser inte kommer att fungera som avsett.
            p
              | KONTAKTUPPGIFTER
              br
              | F&ouml;r ytterligare information om personuppgiftshantering eller om du har fr&aring;gor, &auml;r du v&auml;lkommen att kontakta oss p&aring;:
              br
              | Guardio Safety AB
              br
              | Fr&auml;sarv&auml;gen 26a, 142 50 Skog&aring;s
              br
              | E-postadress: info@guardio.se
              br
              | Telefonnummer: 08-12 13 5150

            
      


    
    
    
    

    footer
      .container
        .row
          .col.m12.s12.l8.offset-xl2.xl8.offset-xl2
            h4 Läs mer om Guardio och våra produkter på vår engelska hemsida.
      .container
        .row
          .col.m12.s12.l3.xl3
            .box__logo
             a.logo(href='javascript:;')
              img(src='img/logo_big.svg', alt='logo')
            p.company Personal Safety Innovation.
            
            ul.soseal
              li
                a(href='javascript:;')
                  img(src='img/inst.svg', alt='inst')
              li
                a(href='javascript:;')
                  img(src='img/link.svg', alt='link')
              li
                a(href='javascript:;')
                  img(src='img/yotu.svg', alt='yotu')
              li
                a(href='javascript:;')
                  img(src='img/fack.svg', alt='fack')
 
            ul.brand
              li
                a(href='javascript:;')
                  img(src='img/Group__132.svg', alt='Group__132')
              li
                a(href='javascript:;')
                  img(src='img/hallnollan_logo.png', alt='hallnollan_logo')

            
              
          .col.m6.s6.l2.xl2
            h3 Meny
            ul
              li
                a(href='javascript:;') Om Guardio
              li
                a(href='javascript:;') Nyheter
              li
                a(href='javascript:;') Kontakt
              li
                a(href='javascript:;') Blogg
                
          .col.m6.s6.l2.xl2
          
            h3 Produkter
            ul
              li
                a(href='javascript:;') Hörselskydd
              li
                a(href='javascript:;') Skyddshjälm
              li
                a(href='javascript:;') Skyddsglasögon
              li
                a(href='javascript:;') Accesoarer
                
          .col.m6.s12.l2.xl2
          
            h3 Support
            ul
              li
                a(href='javascript:;') Support
              li
                a(href='javascript:;') Bluetooth
              li
                a(href='javascript:;') MIPS
              li
                a(href='javascript:;') Accesoarer
              li
                a(href='javascript:;') Aktiv Brus Reducering
              li
                a(href='javascript:;') Batterier
              li
                a(href='javascript:;') TwiceMe
              li
                a(href='javascript:;') Mobilapp

                
          .col.m6.s12.l3.xl3
          
            h3 Nyhetsbrev
            p Anmäl dig till vårt nyhetsbrev och håll dig uppdaterad om de senaste nyheterna och produktuppdateringarna!

            form(method='POST', action='javascript:void(null);')
              // Hidden Required Fields

              .form_input
                span.field.email
                  input(type='email', name='email', required='', value='', placeholder='Epost adress...')

              button.green(type='submit', name='send') Send




    script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js')
    script.
      console.log('index.pug');

    




