doctype

html(lang='en')
  head
    
    - var title = "Coursecode"
    - var keywords = "Keywords var keywords"
    - var description = "Description var description"
    title= title

    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')

    link(rel='icon', type='static/ico', href='img/favicon.ico?v=13')

    meta(property='og:url', content='https:')
    meta(property='og:image', content='img/ogg.png?v=1.3')
    meta(property='og:image:width', content='300')
    meta(property='og:image:height', content='300')

    meta(property='og:title', content='')
    meta(property='og:site_name', content='')
    meta(property='og:description', content='')
    meta(property='og:type', conten= '' + keywords + ''  )
    meta(name='description', conten= '' + description + '' )
    meta(name='keywords'  conten= '' + keywords + '' )

  body.info(data-img='img/1.png')
    
    .right__menu
      ul.menu__
        li
          a.logo(href='/')
            img.w(src='img/logo_b.svg', alt='logo')

        li
          a(href='javascript:;') Skyddshjälmar
        li
          a(href='javascript:;') Säkerhetsglasögon
        li
          a(href='javascript:;') Hörselskydd
        li
          a(href='javascript:;') Tillbehör
      
    
    header
      .container
        .row
          .col.m12.s12.l12.xl12
            a.mobile(href='javascript:;')
              
            .box__logo
             a.logo(href='javascript:;')
            //  img.w(src='img/logo.svg', alt='logo')
              img.b(src='img/logo_b.svg', alt='logo')
              
            ul.menu__
              li
                a(href='javascript:;') Skyddshjälmar
              li
                a(href='javascript:;') Säkerhetsglasögon
              li
                a(href='javascript:;') Hörselskydd
              li
                a(href='javascript:;') Tillbehör

              
            ul.login__
              li
                a(href='javascript:;') Nyheter
              li
                a(href='javascript:;') Om Guardio
              li
                a(href='javascript:;') Support

                
            ul.navigat
              li
                a.search(href='javascript:;')
              li
                a.car(href='javascript:;')
                  span 1

          
    section.twiceme__1
      .container
        .row
          .col.m12.s12.l5.xl5
            h1.title <span>twICEme</span> - Vital info när sekunder är avgörande
            p.slag twICEme är ett digitalt verktyg som är integrerat i säkerhetsutrustning och som gör det möjligt att få tillgång till vital information i nödsituationer. Genom att använda en smartphone kan vital information bli lokalt sparad och sedan tillgänglig genom att använda appen twICEme.

 
          
    section.twiceme__2
      .container
        .row
          .col.m12.s12.l4.xl4
            .block__
             img.images(src='img/twiceme__2_img_1.svg', alt='logo')
            h4.info MEDICINS INFO
            p Lagra vital information direkt i din hjälm, lätt tillgänglig när sekunder  kan vara avgörande! Informationen finns sparad lokalt i hjälmen och läses enkelt av med en smartphone via NFC-teknologi.
            
            
          .col.m12.s12.l4.xl4
            .block__
              img.images(src='img/twiceme__2_img_2.svg', alt='logo')
            h4.info NÖDKONTAKTER
            p Lagra dina nödkontakter direkt i hjälmen och gör dessa tillgängliga för dem som är först på plats vid en olycka.
            
            
          .col.m12.s12.l4.xl4
            .block__
              img.images(src='img/twiceme__2_img_3.svg', alt='logo')
            h4.info KOORDINATER
            p Få snabbt fram exakt position och dela den platsinformationen till ambulans- och sjukvårdspersonal på ett enkelt sätt.
            
 
          
    section.section__.twiceme__3
      .container
        .row
          .col.m12.s12.l12.xl12
            span elen papa
            .block__
              img.images(src='img/twiceme__3_img.png', alt='logo')
            p.sub__title twICEme functionality in Guardio ARMET explained
            a(href='javascript:;') 
              img(src='img/links.svg', alt='logo')
      
    
    section.section__.twiceme__4
      .container
        .row
          .col.m12.s12.l5.xl5
            .block__
              img.images(src='img/twiceme__4_img.png', alt='logo')
            
          .col.m12.s12.l7.xl7
            h2.title Redo att sätta igång med twICEme?
            p.sub Följ stegen nedan för att komma igång!
            
            ul.list
              li
                span 1. Ladda ner appen
                p Ladda ner TwICEme appen på din smartphone.
              li
                span 2. Skapa en profil med din viktiga information
                p Öppna appen och välj "Manage profiles". Välj "Create profile", fyll i information som du vill ha för profilen och spara den.
              li
                span 3. Ladda up din profil till din hjälm
                p På "Manage profiles" sidan, tryck på “Upload” knappen på din skapade profil. Sätt telefonen mot twICEme-symbolen på din utrustning så att din NFC-antenn placeras direkt över symbolen.
              li
                span 4. Du är klar!
                p Fortsätt din vardag utrustad med twICEme.
                
            .app
              .code
                a(href='javascript:;')
                  img.app__images(src='img/twiceme__4_img_code.png', alt='logo')
              .mobile
                a(href='javascript:;')
                  img.app__images(src='img/twiceme__3_img_apple.png', alt='logo')
                a(href='javascript:;')
                  img.app__images(src='img/twiceme__3_img_google.png', alt='logo')

            

    footer
      .container
        .row
          .col.m12.s12.l8.offset-xl2.xl8.offset-xl2
            h4 Läs mer om Guardio och våra produkter på vår engelska hemsida.
      .container
        .row
          .col.m12.s12.l3.xl3
            .box__logo
             a.logo(href='javascript:;')
              img(src='img/logo_big.svg', alt='logo')
            p.company Personal Safety Innovation.
            
            ul.soseal
              li
                a(href='javascript:;')
                  img(src='img/inst.svg', alt='inst')
              li
                a(href='javascript:;')
                  img(src='img/link.svg', alt='link')
              li
                a(href='javascript:;')
                  img(src='img/yotu.svg', alt='yotu')
              li
                a(href='javascript:;')
                  img(src='img/fack.svg', alt='fack')
 
            ul.brand
              li
                a(href='javascript:;')
                  img(src='img/Group__132.svg', alt='Group__132')
              li
                a(href='javascript:;')
                  img(src='img/hallnollan_logo.png', alt='hallnollan_logo')

            
              
          .col.m6.s6.l2.xl2
            h3 Meny
            ul
              li
                a(href='javascript:;') Om Guardio
              li
                a(href='javascript:;') Nyheter
              li
                a(href='javascript:;') Kontakt
              li
                a(href='javascript:;') Blogg
                
          .col.m6.s6.l2.xl2
          
            h3 Produkter
            ul
              li
                a(href='javascript:;') Hörselskydd
              li
                a(href='javascript:;') Skyddshjälm
              li
                a(href='javascript:;') Skyddsglasögon
              li
                a(href='javascript:;') Accesoarer
                
          .col.m6.s12.l2.xl2
          
            h3 Support
            ul
              li
                a(href='javascript:;') Support
              li
                a(href='javascript:;') Bluetooth
              li
                a(href='javascript:;') MIPS
              li
                a(href='javascript:;') Accesoarer
              li
                a(href='javascript:;') Aktiv Brus Reducering
              li
                a(href='javascript:;') Batterier
              li
                a(href='javascript:;') TwiceMe
              li
                a(href='javascript:;') Mobilapp

                
          .col.m6.s12.l3.xl3
          
            h3 Nyhetsbrev
            p Anmäl dig till vårt nyhetsbrev och håll dig uppdaterad om de senaste nyheterna och produktuppdateringarna!

            form(method='POST', action='javascript:void(null);')
              // Hidden Required Fields

              .form_input
                span.field.email
                  input(type='email', name='email', required='', value='', placeholder='Epost adress...')

              button.green(type='submit', name='send') Send




    script(src='https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js')
    script.
      console.log('index.pug');

    




